/OneDrive/Documents/NetBeansProjects/uts/nbproject/private/
/OneDrive/Documents/NetBeansProjects/nomor5/nbproject/private/
/OneDrive/Documents/NetBeansProjects/nomor5/build/
/OneDrive/Documents/NetBeansProjects/tugas4/nbproject/private/
/OneDrive/Documents/NetBeansProjects/tugas4/build/
/OneDrive/Documents/NetBeansProjects/nomor2/nbproject/private/
/OneDrive/Documents/NetBeansProjects/nomor2/build/
/OneDrive/Documents/NetBeansProjects/JavaApplication17/nbproject/private/
/OneDrive/Documents/NetBeansProjects/uts2/nbproject/private/
/OneDrive/Documents/NetBeansProjects/uts2/build/
/OneDrive/Documents/NetBeansProjects/nomor1/nbproject/private/
/OneDrive/Documents/NetBeansProjects/nomor1/build/
/OneDrive/Documents/NetBeansProjects/nomor3/nbproject/private/
/OneDrive/Documents/NetBeansProjects/nomor3/build/
/OneDrive/Documents/NetBeansProjects/nomor4/nbproject/private/
/OneDrive/Documents/NetBeansProjects/nomor4/build/
/OneDrive/Documents/NetBeansProjects/Nomor6/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Nomor6/build/
**/*.localz
**/*.local
**/*.git
**/*.DS_Store
